results
__pycache__
sbatch_scripts
results/
result*
logdir*
logs/
runs/
online/
model/
*.egg-info/
build/
__pycache__/
*.so
.vscode/
.env
*.pth
data/*
dreamerv3/imgs*
VRNN/perceiver/data/
VRNN/perceiver/model/
transition_data/*
wandb/
checkpoints/
VRNN/test/