results
__pycache__
sbatch_scripts
results*
result*
logs/
run/
runs/
online/
model/
*.egg-info/
build/
__pycache__/
*.so
.vscode/
.env
*.pth
data/*
VRNN/perceiver/data/
VRNN/perceiver/model/
transition_data/
wandb/
checkpoints/