torch==1.10.0
torchfile==0.1.0
torchvision==0.11.1
gym==0.18.3
gpytorch==1.6.0
matplotlib
plotly
dm-control
git+https://github.com/denisyarats/dmc2gym.git
git+https://github.com/HorizonRobotics/cnest.git